.about-me-container {
  display:flex;
  flex-direction: column;
}

.about-me-box {
  flex-direction: row;
  margin-top: 5%;
  height: 350px;
  margin: 10% 10% 0 10%;
  font-family: 'Nunito Sans', sans-serif;
}

.portrait {
  // padding: 0px 20px;
  float: left;
  width: 200px;
  height: 150px;
  object-fit: cover;
}

.about-me-links {
  display:flex;
  flex-direction: row;
  justify-content: center;
  // margin-top: 10%;
}

.about-me-links img {
  width: 100px;
  height: 100px;
  padding: 20px;
  // border: 1px solid black;
}

.about-resume {
  width: 150px;
  height: 150px;
  padding: 20px;
}

.about-linkedin:hover {
  cursor:pointer;
}

.about-github:hover {
  cursor:pointer;
}

.about-email:hover {
  cursor:pointer;
}


.email-wrap {
  position: relative;
  display: inline-block;
}

.email-wrap .email-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 87%;
    left: 50%;
    margin-left: -60px;
}

.email-wrap:hover .email-text {
  visibility:visible;
}


.linkedin-wrap {
  position: relative;
  display: inline-block;
}

.linkedin-wrap .linkedin-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 87%;
    left: 50%;
    margin-left: -60px;
}

.linkedin-wrap:hover .linkedin-text {
  visibility:visible;
}

.github-wrap {
  position: relative;
  display: inline-block;
}

.github-wrap .github-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 87%;
    left: 50%;
    margin-left: -60px;
}

.github-wrap:hover .github-text {
  visibility:visible;
}
