.edit-form {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 40px 20px 70px 20px;
  border-radius: 10px;
  background-color: white;
  font-family: 'Lato', sans-serif;
}

.edit-form-user {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.edit-profile-icon {
  height:100px;
  width: auto;
}

.edit-profile-username {
  padding-left: 20px;
}

.edit-form-container {
  display: relative;
  justify-content: center;
  // margin-top: 100px;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.edit-form label {
  padding: 10px 0px;
}

.username-edit input {
  margin-left: 10px;
}
.nickname-edit input {
  margin-left: 13px;
}
.email-edit input {
  margin-left: 56px;
  margin-bottom: 30px;
}

.edit-button-container {
  display: flex;
  justify-content: center;
}

.edit-submit-button {
  width: 100px;
  font-size: 15px;
  border: none;
  background-color: #ffda21;
  color: white;
  padding: 0px 10px;
  border-radius: 5px;
}

.edit-submit-button:hover {
  cursor:pointer;
  border: none;
  border-radius: 5px;
}

.edit-cancel {
  width: 100px;
  font-size: 15px;
  border: none;
  background-color: #a8a8a8;
  color: white;
  padding: 0px 10px;
  border-radius: 5px;
}

.edit-cancel:hover {
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
