.main-header {
  display: flex;
  border-bottom: 1px solid grey;
  justify-content: space-between;
  background-color: white;

}

.header-logo-group {
  display: flex;
}

.header-user-group {
  display: flex;
  margin-top: 20px;
  margin-right: 100px;
}

.wing-icon {
  height: 40px;
  width: auto;
  padding-right: 10px;
  // position: relative;
  // display: inline-block;
}


.wing-icon:hover {
  cursor: pointer;
}

.wrapper-heart {
  position: relative;
  display: inline-block;
}

.wrapper-heart .heart-text{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.wrapper-heart:hover .heart-text {
  visibility:visible;
}


.user-icon {
  height: 30px;
  width: auto;
  padding: 0px 10px;
  margin-top: 5px;
}

.user-icon:hover {
  cursor: pointer;
}

.wrapper-user {
  position: relative;
  display: inline-block;
}

.wrapper-user .user-text{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.wrapper-user:hover .user-text {
  visibility:visible;
}


.user-heart {
  margin-top: 5px;
  height: 30px;
  width: auto;
  padding: 0px 10px;
}

.user-heart:hover {
  cursor: pointer;
}

.corgi-icon {
  height: 80px;
  width: auto;
  margin-left: 100px;
  padding: 0px 10px;
}

.corgi-icon:hover {
  cursor: pointer;
}

.user-logout {
  height: 30px;
  width: auto;
  margin-top: 3px;
  padding: 0px 10px;
}

.user-logout:hover {
  cursor: pointer;
}


.wrapper-logout {
  position: relative;
  display: inline-block;
}

.wrapper-logout .logout-text{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.wrapper-logout:hover .logout-text {
  visibility:visible;
}

.main-title {
  font-family: 'Indie Flower', cursive;
  margin-top: 15px;
  font-size: 30px;
}

.main-title:hover {
  cursor: pointer;
}

.main-title span {
  color: #ffda21;
}


.search-bar {
  justify-content: center;
  display: flex;
  margin-top: 15px;
}
