.main-header {
  display: flex;
  border-bottom: 1px solid grey;
  justify-content: space-between;
  background-color: white;

}

.header-logo-group {
  display: flex;
}

.header-user-group {
  display: flex;
  margin-top: 20px;
  margin-right: 100px;
}

.wing-icon {
  height: 40px;
  width: auto;
  padding-right: 10px;
}

.user-icon {
  height: 30px;
  width: auto;
  padding: 0px 10px;
  margin-top: 5px;
}

.user-heart {
  margin-top: 5px;
  height: 30px;
  width: auto;
  padding: 0px 10px;
}

.corgi-icon {
  height: 80px;
  width: auto;
  margin-left: 100px;
  padding: 0px 10px;
}

.user-logout {
  height: 30px;
  width: auto;
  margin-top: 3px;
  padding: 0px 10px;
}

.main-title {
  font-family: 'Indie Flower', cursive;
  margin-top: 15px;
  font-size: 30px;
}

.main-title span {
  color: #ffda21;
}


.search-bar {

  justify-content: center;
  display: flex;
  margin-top: 15px;
}
