// Place all the styles related to the api/photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.feed-container {
  display: flex;
  align-items: center;
  justify-content: center;
}



.feed-comment-form {
  margin-bottom: 30px;
}

.feed-container li {
  margin-bottom: 50px;
  list-style-type: none;
  margin-right:85px;
  // padding-right: 100px;
  border: 1px solid black;
}

.feed-number-likes {
  font-family: 'Itim', cursive;
  margin-left: 20px;
}

.feed-container span {
  display: flex;
  justify-content:flex-start;
  font-family: 'Itim', cursive;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 20px;
}


.feed-box {
  margin-left: 100px;
}


.feed-photo {
  width: 600px;
  height: 450px;
  object-fit: cover;
}

.feed-line {
  width: 80%;
  text-align:center;
  border-bottom: 1px solid #dbdbdb;
  line-height: 0.1em;
  margin:30px 0px 20px;
}

.feed-comment-like {
  display: flex;
  flex-direction: row;
  margin-top: 40px
}

.feed-like-icon {
  height: 25px;
  width: auto;
  padding: 0px 10px;
}

.feed-container input {
  border: none;
  font-size: 20px;
  margin-bottom: 2px;
  // border: 1px solid black;
  width: 500px;
}

.feed-comments {
  display: flex;
  flex-direction: column;

}

.feed-comments li {
  border: none;
  font-size: 15px;
  display: flex;
  padding: 0px 0px 0px 0px;
  margin-bottom: 0px;
}

.feed-comment-submit {
  visibility: hidden;
}

.feed-author {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  // border: 1px solid black;
}

.feed-author:hover {
  cursor: pointer;
}

.feed-author img {
  height: 50px;
  width: 50px;
}

.feed-author div {
  font-family: 'Itim', cursive;
  margin-left: 20px;
  margin-top: 5px;
}

.feed-captions {
  // padding-left: 85px;
  // border: 1px solid black;
  width: 400px;
  // margin-right: ;
}

.feed-box li {
  width: 600px;
  // padding-right: 200px;
}
