// Place all the styles related to the api/photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.feed-container {
  display: flex;
  align-items: center;
  justify-content: center;
}



.feed-comment-form {
  margin-bottom: 3px;
}


.feed-container li {
  margin-top: 50px;
  list-style-type: none;
  margin-right:85px;
  // padding-right: 100px;
  border: 1px solid #e1e1e1;
  border-radius: 2px;
  background-color: white;
}

.feed-number-likes {
  font-family: 'Itim', cursive;
  margin-left: 20px;
}

.feed-container span {
  display: flex;
  justify-content:flex-start;
  font-family: 'Itim', cursive;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 20px;
}


.feed-box {
  margin-left: 100px;
}



.feed-photo {
  width: 600px;
  height: 450px;
  object-fit: cover;
}

.feed-line {
  width: 80%;
  text-align:center;
  border-bottom: 1px solid #dbdbdb;
  line-height: 0.1em;
  margin:30px 0px 20px;
}

.feed-comment-like {
  display: flex;
  flex-direction: row;
  margin-top: 40px
}

.feed-like-icon {
  height: 25px;
  width: auto;
  padding: 0px 10px;
}

.feed-like-icon:hover {
  cursor: pointer;
}

.wrapper-like .wrapper-like-text {
    visibility: hidden;
    width: 50px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
}

.wrapper-like:hover .wrapper-like-text {
  visibility: visible;
}


.feed-container input {
  border: none;
  font-size: 15px;
  margin-bottom: 2px;
  background-color: white;
  // border: 1px solid black;
  width: 300px;
}

.feed-comments {
  display: flex;
  flex-direction: column;
  list-style-position: inside;
  overflow: hidden;
}

.feed-comments li {
  border: none;
  font-size: 15px;
  margin:0px 0px 0px 20px;
}

.feed-comment-submit {
  visibility: hidden;
}

.feed-author {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  // border: 1px solid black;
}

.feed-author-2 {
  display: flex;
}

.feed-oldness {
  margin-right: 30px;
  padding-top: 15px;
}

.feed-username {
  padding-top: 10px;
}

.feed-author div {
  font-family: 'Itim', cursive;
  margin-left: 20px;
  margin-top: 5px;
}

.feed-author div:hover {
  cursor: pointer;
}

.feed-author img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.feed-author img:hover {
  cursor: pointer;
}



.feed-captions {
  font-size: 18px;
}

.feed-box li {
  width: 600px;
}
