.photo-detail-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px 0px 0px 0px;
  padding-right: 180px;
}
.photo-detail-captions {
  font-family: 'Itim', cursive;
  margin-bottom: 10px;
  margin-left: 40px;
  font-size: 20px;
}



.photo-detail-comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  font-size: 15px
}

.photo-detail-comments li {
  margin-left: 40px;
}


.photo-detail-photo{
  width: 600px;
  height: 450px;
}

.photo-detail-user {
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
  border-bottom: 1px solid #bababa;
  padding-bottom: 10px;
}
.photo-detail-user img {
  height: 50px;
  width: auto;
}
.photo-detail-user span {
  margin-top: 15px;
  padding-left: 10px;
  font-family: 'Itim', cursive;
}

.photo-detail-right {
  // border: 1px solid black;
}

img {
  object-fit: cover;
}
