
.profile-container {
  display: flex;
  flex-direction: column;
}

.profile-box {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 20px;
}

.profile-icon {
  color: white;
  width: 230px;
  height: 230px;
  object-fit: cover;
}

.profile-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 70px;
}


.profile-edit-button {
  height: 40px;
  width: 100px;
  margin-bottom: 20px;
  font-family: 'Itim', cursive;
  font-size: 16px;
  color: black;
}

.profile-edit-button:hover {
  background-color: #ffda21;
  cursor: pointer;
}

.profile-add-photo-button {
  height: 40px;
  width: 100px;
  font-family: 'Itim', cursive;
  font-size: 16px;
}

.profile-add-photo-button:hover {
  background-color: #ffda21;
  cursor: pointer;
}

.profile-photos {
  padding: 20px 200px;
  max-width: 1000px;
  margin-top: 30px;
}

.profile-photos img {
  position: relative;
  float:left;
  height: 295px;
  width: 295px;
  padding: 13px;

  object-fit: cover;
}

.profile-photos img:hover {
  cursor: pointer;
}

.profile-username {
  padding-left: 10px;
  font-family: 'Lato', sans-serif;
}

.profile-nickname {
  padding-left: 10px;
  font-family: 'Lato', sans-serif;
}

.profile-likes-follows {
  display: flex;
  flex-direction: row;
  font-family: 'Lato', sans-serif;
}

.profile-likes-follows span{
  padding: 0px 10px;
  margin-top: 70px;
}

.profile-info {
  margin-top: px;
}
