.guest-button {
  background-color: #42f4d9; /* Green */
  border: none;
  color: white;
  padding: 3px 108px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


.auth-img {
  margin-left: 110px;

}

.form-title {
  font-style: italic;
  font-size: 30px;
}

.form-title span {
  color: #ffda21;
}

//  "Or"
.auth-form-or {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}
.auth-form-or span {
    background:#fff;
    padding:0 10px;
}
