.signup-button {
  background-color: #4286f4;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 3px 81px;
  margin: 5px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}

.login_link {
  background-color: #4286f4;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 3px 97px;
  margin: 5px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}

.signup-form-container {
  display: relative;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}



.signup-form-box {
  margin-top: 200px;
  padding: 30px;
  z-index:2;
  position: relative;
  background-color: rgba(200, 200, 200, 0.6);
  border-radius: 10px;
}


.signup-form-img {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;

  display: block;
  width: 100%;
  height: 100%;
  filter: blur(3px);
}

.email-input {
  margin: 5px 0px;
  border-radius: 5px;
  width: 253px;
  height: 30px;
}
