.signup-button {
  background-color: #4286f4;
  border: none;
  color: white;
  padding: 3px 97px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.login_link {
  background-color: #4286f4;
  border: none;
  color: white;
  padding: 3px 107px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.signup-form-container {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.signup-form-box {
  margin-right: 200px;
  background-color: white;
  padding: 30px;
  border: 1px solid #ededed;
}
