<!DOCTYPE html>
<html>
<head>
  <link rel="icon" type="image/png" href="http://res.cloudinary.com/corgi1989/image/upload/c_scale,w_32/v1480621165/paw_png_nxddiu.png"/>
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Itim|Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
  <title>CorgiGram</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://widget.cloudinary.com/global/all.js"></script>
   <script type="text/javascript">
    window.cloudinary_options = {
      cloud_name:  "corgi1989",
      upload_preset: "tteltura"
    };
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
